@page "/about"

<PageTitle>About</PageTitle>

<h3>О проекте</h3>
<p class="intro-text">Проект был создан в рамках дипломной работы.</p>
<div> Полный код разработанного комплекса находится на GitHib по ссылке:<a href="https://github.com/enukee/biopsy_neuro_processing" target="_blank">biopsy_neuro_processing</a></div>

@code {

}
